.hostResponse {
  margin-left: 50px;
}

.hostName {
  position: relative;
  left: 5px;
  top: 25px;
  font-weight: 600;
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
}

.hostDate {
  margin-top: 10px;
  color: #767676 !important;
}

.hostPhoto {
  float: left;
  position: relative;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  left: 20px;
  top: 20px;
}

.superUser {
  z-index: 1;
  position: relative;
  width: 0;
  height: 0;
  left: 6px;
  top: 35px;
}

.hostTextAndDate {
  position: relative;
  top: 0px;
  left: 75px;
  width: 570px;
}
.reviewHeader {
  width: 100%;
  vertical-align: top;
  margin: 0 0 15px 60px;
  position: relative;
  left: 10px;
  top: -8px;
}

.reviewText {
  margin-top: 16px;
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}
