.searchIcon {
  height: 1em;
  width: 1em;
  fill: currentColor;
  position: relative;
  float: left;
  top: -25px;
  left: 5px;
}

.close {
  margin-bottom: 24px;
  cursor: pointer;
  background-color: transparent;
  color: buttontext;
  border: 0px;
  height: 16px;
  width: 16px;
  fill: rgb(118, 118, 118);
  outline: none;
}